.main {
  border: 5px solid green;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 40px;
}
.button__play {
  background-color: rgb(120, 216, 216);
}

.msg {
  background-color: rgb(120, 216, 216);
}
